.focused {
    background-color: cadetblue 
}

.right-content {
    grid-area: right-content;
    padding: 20px 0px 0px 20px;
}

.raspuns-box {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    outline: 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-wrap: break-word;
    margin-right: 10px;
    margin-top: 10px;
}

input {
    width: 100%;
}

label {
    font-size: 13px;
}

textarea {
    resize: none;
  }

.accept {
    background-color: cadetblue;
    border: 0;
    border-radius: 8px;
    color: white;
    width: auto;
    height: 35px;
}

.deny {
    background-color: rgb(160, 95, 95);
    border: 0;
    border-radius: 8px;
    color: white;
    width: auto;
    height: 35px;
    float: right;
    margin: 0px 0px 0px 10px;
}

.atmt a{
    color: white;
}

.atmt{
    background-color: black;
    border: 0;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.signoutbtn{
    background-color: rgb(160, 95, 95);
    border: 0;
    border-radius: 8px;
    color: white;
    height: 25px;
}

/*.answ {
    background-color: rgb(95, 134, 160);
    border: 0;
    border-radius: 8px;
    color: white;
    width: auto;
    height: 35px;
}*/

.cerere-card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
}

.cerere-card p {
    font-size: 13px;
    margin: 4px 4px 4px 0px;
}

hr {
    border-bottom: black;
}

.pret {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .right-content {
        padding: 0;
    }

    .cerere-card {
        margin-top: 0;
        margin-bottom: 10px;
    }
}