body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 51px;
    min-height: 100vh;
}

li, a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

header {
    /*display: flex;*/
    /*align-items: center;*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

nav {
    display: flow-root;
    margin-right: 10px;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-left: 2%;
    float: left;
    padding-top: 7px;
}

.nav_links {
    text-decoration: none;
    float: right;
}

.nav_links li {
    display: inline-block;
    margin-right: 10px;
}

.nav_links li, a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: cadetblue;
}

.grid-area-container {
    display: grid;
    padding: 20px;
    grid-template-columns: 100px auto;
    grid-template-areas: "left-menu right-content";
}

.left-menu {
    grid-area: left-menu;
    margin: auto;
    position: fixed;
}

.left-commands {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    display: grid;
}

.left-commands a {
    color: white;
    display: inline-block;
    position: relative;
}

.square-btn {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .grid-area-container {
        grid-template-areas: "left-menu" 
        "right-content";
        grid-template-columns: auto;
        padding: 0;
    }

    .square-btn {
        width: 40px;
        height: 30px;
        margin: 0px;
        border-radius: 0;
    }

    .left-commands{
        grid-template-columns: auto auto auto auto auto;
    }

    .left-menu {
        position: relative;
    }

    .left-commands a {
        padding: 0;
    }
}